<div class="container">
  <div class="showcase">


      <div class="c-gallery-container">
        <ul class='c-gallery js-gallery' >
          <li class="c-gallery__item js-gallery-item" style="background-image: url('images/image_01.jpg')"></li>
          <li class="c-gallery__item js-gallery-item" style="background-image: url('images/image_02.jpg')"></li>
          <li class="c-gallery__item js-gallery-item" style="background-image: url('images/image_03.jpg')"></li>
          <li class="c-gallery__item js-gallery-item" style="background-image: url('images/image_04.jpg')"></li>
        </ul>
      </div>
      <ul class='c-nav-list js-nav-list'>
        <li class="c-nav-list__item">
            <a href="#" data-direction="left"><</a>
            </li>
        <li class="c-nav-list__item ">
          <a href="#" data-direction="right">></a>
        </li>
      </ul>
  </div>
</div>
<div class="form">
  <form class="input" action="/" method="post">
    <input type="name" name="name" value="" placeholder="Name">
    <input type="textarea" name="comment" value="" placeholder="Comment Body">
  </form>
</div>
<div class="comments">
  {{>comments}}
</div>
